body
{
    background-color: black !important;
}
* 
{
    box-sizing: border-box;
    font-family: sans-serif;
}

h1
{
    color: white !important;
}

/*JQuery styling*/
.important 
{
    font-weight: bold;    
}

.blue 
{    
	background-color: cadetblue
}

.red
{
	background-color: #e0a0a0
}