@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Page</h1>    
</div>

<div>
    <ul id="links">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Page1", "Page1", "Home")</li>
    </ul>
    
</div>

