
@{
    ViewBag.Title = "Page3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*This page takes user input and sends it to the server via a Post method.
It calculates a loan monthly payment, number of payments and the sum of all payments to make*@

<h2>Page 3: Loan Calculator</h2>

<div>
    <p> 
        Please enter a loan amount, APR and the loan term (in years) to calculate the monthly payments, 
        number of payments and the total sum of payments. Only numerical data is accepted, do no enter 
        commas, porcentage or dollar signs into the input fields.
    </p>
</div>

<form id="myForm">
    <div class="form-group row">
        <label for="value" class="col-sm-2 col-form-label">
            Loan Amount:
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="loanAmount" name="loanAmount" placeholder="$">
        </div>
    </div>

    <div class="form-group row">
        <label for="value" class="col-sm-2 col-form-label">
            APR:
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="apr" name="apr" placeholder="%">
        </div>
    </div>

    <div class="form-group row">
        <label for="value" class="col-sm-2 col-form-label">
            Loan Term:
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="loanTerm" name="loanTerm" placeholder="Number of Years">
        </div>
    </div>

    <!-- Calculate button (submits the form input)  -->
    <div class="form-group row">
        <input type="submit" value="Calculate" formmethod="post" />
        <input type="reset" value="Reset" />
    </div>

</form>

