
@{
    ViewBag.Title = "Page3_Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page3 >> Loan Calculator Result </h2>
<br />

<p><b> @ViewBag.response</b></p>

<p>@Html.ActionLink("Back to Loan Calculator (Page 3)","Page3","Home")</p>