
@{
    ViewBag.Title = "Page1";

}

<h2>Page 1</h2>

<div>

    <form id="myForm" action="Page1" method="get">
        <div class="form-group row">
            <label for="value" class="col-sm-4 col-form-label">
                Enter Temperature:
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="temperature" placeholder="temperature">
            </div>
        </div>

        <div class="form-group row">
            <label for="value" class="col-sm-4 col-form-label">
                Temperature Unit:
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="unit" placeholder="unit (F or C)">
            </div>
        </div>        

        <!-- Calculate button (submits the form input)  -->
        <div class="form-group row">
            <input id="submit" type="submit" value="sumbit"/>
        </div>

    </form>

</div>

<p>
    @ViewBag.response          
</p>



