
@{
    ViewBag.Title = "Page3_Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page3 >> Loan Calculator Result </h2>

<p> @ViewBag.response</p>

<p>@Html.ActionLink("Back to Page 3","Page3","Home")</p>